body {
	background-image: url("../img/legowhite.jpg");
	background-repeat: repeat;
	/*font-size: 30px;*/
}

h2.emptitle {
	font-size: 60px;
	font-style: serif;
	font-stretch: 50px;
	text-align: center;
	border-color: 2px solid lightskyblue;
	/*color: #FFE330;*/
}

.employees li {
	/*color:#FFE330;*/
	margin-left: 90px; 
	padding-left: 5px;
} 

.banner img {
	border: 3px solid black;
}

.employees li {
	padding: auto;
	margin: 30px;
	list-style-type: none;
}

a {
	/*color:#FFE330;*/
	display: inline-block;
	/*width: 50px;*/
}

.employees {
	text-align: center;
	/*margin-left: 50%;
	margin-right: 50%;*/
	font-style: oblique;
	font-size: 30px;
	display: inline;
}

.employees ul {
	padding: 0px;
}

.navbar{
	/*background-color: black;*/
	width:120%;
	height:40px;
	line-height: 40px;
	box-sizing: border-box;
	padding:0;
	margin:0;
	position:fixed;
	top:5px;
	left:0px;
	/*display: block;*/
}

.navbar li{
	/*height:50px;*/
	/*line-height:40px;*/
	/*min-width: 100px;*/
	float:left;
	border:1px solid rgb(91,192,222);
	border-radius: 5px;
	/*text-align: center;*/
	/*padding:0 10px;*/
	box-sizing: border-box;
	list-style-type: none;	
	margin-left: 20px;
	margin-right: 20px;
	background: rgb(91,192,222);
	padding: 0 10px;
}

.navbar a{
	/*line-height: 40px;*/
	font-size:18pt;
	color:white;
	/*height:50px;	*/
}

.navmenu li {
	white-space: nowrap;
}
.banner{
	margin-top:60px;
}
.banner img{
	width:100%;
}
.photo{
	visibility:hidden;
	margin-left:20px;
}
.employees li:hover .photo{
	visibility:visible;
}

.others{
	position:relative;
	float:right;
	bottom:375px;
}

.othersbanner{
	background-color:rgb(91,192,222);
	color:white;
	border-radius:10px;
	display:inline-block;
	padding-left: 25px;
	padding-right: 25px;
	height:35px;
	line-height: 35px;
	position:relative;

}

.link{
	text-align: center;
	margin: 10px;
}

.biotext{
	height: 250px;
	width: 550px;
	display:inline-block;
}
