body {
	background-image: url("../img/lego_BG.png");
	background-repeat: repeat;
}

h2 {
	font-size: 100px;
	font-style: serif;
	font-stretch: 50px;
	text-align: center;
	border-color: 2px solid lightskyblue;
	color: white;
}

.employees li {
	padding: 0px auto;
	margin: 50px;
	border: 1px solid white;
	
}

.employees div {
	text-align: center;
	/*margin-left: 50%;
	margin-right: 50%;*/
	font-style: oblique;
	font-size: 30px;
}

.employees ul {
	padding: 0px;
}


